{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "eqeqeq": "error",
    "quotes": ["error", "double"],
    "max-len": [1, 100, 2, {"ignoreComments": true}],
    "curly": ["error", "all"]
  },
  "extends": "eslint:recommended",
  "globals": {
    "L": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "phantomjs": true,
    "jasmine": true,
    "node": true
  }
}