#Directories
.idea/
.github/
coverage/
node_modules/
karma/
webpack/
dev-env/
src/
assets/
*.log

#Files
.babelrc
.eslintrc
.eslintignore
.npmignore
.wbprofile.json
.gitignore
.travis.yml
.prettierrc
yarn.lock
karma.conf.js
webpack.config.js
webpack.tests.js
webpack.tests.js.map