.bar-loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $grey-dark;
}

.bar-loader.is-active:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: $primary;
  animation: bar-loading 2s linear infinite;
}

@keyframes bar-loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}