#map {
    width: 100%;
    height: 400px;
}

.m-r-sm {
    margin-right:2px;
}

.m-l-sm {
    margin-left: 2px;
}

.color-form-control {
    height: 1px;
    width: 100%;
    position: absolute;
    margin-top: 34px;
}