@-webkit-keyframes leaflet-ant-path-animation
  from
    stroke-dashoffset: 100%
  to
    stroke-dashoffset: 0

@-moz-keyframes leaflet-ant-path-animation
  from
    stroke-dashoffset: 100%
  to
    stroke-dashoffset: 0

@keyframes leaflet-ant-path-animation
  from
    stroke-dashoffset: 100%
  to
    stroke-dashoffset: 0

path.leaflet-ant-path
  fill: none
  -webkit-animation: linear infinite leaflet-ant-path-animation
  -moz-animation: linear infinite leaflet-ant-path-animation
  animation: linear infinite leaflet-ant-path-animation