$fa-font-path: "~font-awesome/fonts";

@import "~bulma/sass/utilities/initial-variables.sass";
$body-background-color: $grey-lighter;


@import "~bulma/bulma.sass";
@import "~font-awesome/scss/font-awesome";
@import '~leaflet/dist/leaflet.css';
@import "~rc-slider/assets/index.css";

.leaflet-container {
  height: 400px;
  width: 100%;

  @include mobile {
    height: 200px;
  }
}

.box {
  display: flex;
  height: 100%;
  flex-direction: column;
}

@import "stateless/nav";
@import "stateless/header";
@import "stateless/option-color-picker";
@import "stateless/loader";

@import "examples";
@import "controls";