$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome";
@import "~bulma/bulma.sass";
@import '~leaflet/dist/leaflet.css';
@import "~rc-slider/assets/index.css";
@import "~prismjs/themes/prism.css";

@import "customizations/prismjs";

.leaflet-container {
  height: 400px;
  width: 100%;

  @include mobile {
    height: 200px;
  }
}

.box {
  display: flex;
  height: 100%;
  flex-direction: column;
}

@import "stateless/mobile_header";
@import "stateless/option-color-picker";