<div ng-controller="AppController as mv" ng-init="mv.init()" class="container">
    <div class="page-header">
        <h1>Leaflet Ant Path
            <a href="https://github.com/rubenspgcavalcante/leaflet-ant-path">
                <small>Fork me on Github! <i class="icon-github"></i></small>
            </a>
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <ant-path-example options="mv.options"></ant-path-example>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Configurations
                </div>
                <div class="panel-body">
                    <ng-form>
                        <div class="input-group">
                            <label for="weight">options.weight</label>
                            <input id="weight" class="form-control" min="1" type="number" ng-model="mv.options.weight">
                        </div>
                        <br>
                        <div class="input-group">
                            <label for="color">options.color</label>
                            <input type="text" id="color" ng-model="mv.options.color" class="form-control"/>
                            <div class="color-form-control"
                                 ng-style="{'background-color': mv.options.color}"></div>
                        </div>
                        <br>
                        <div class="input-group">
                            <label for="pulse-color">options.pulseColor</label>
                            <input type="text" id="pulse-color" ng-model="mv.options.pulseColor" class="form-control"/>
                            <div class="color-form-control"
                                 ng-style="{'background-color': mv.options.pulseColor}"></div>
                        </div>
                    </ng-form>
                </div>
                <footer class="panel-footer">
                    <small><i class="icon-info-sign m-r-sm"></i>You can use all options of a <a
                            href="http://leafletjs.com/reference.html#path-options">Polyline</a></small>
                </footer>
            </div>
        </div>
    </div>
</div>